.checkout {
    min-height: 100vh;
    background-color: rgb(241, 241, 241);
}

.checkouttopbar {
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.checkouttopbar img {
    height: 50px;
}

.checkouttopbar h1 {
    color: white;
    font-weight: 400;
}


.checkouttopbar button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    gap: 10px;
    color: white;
    align-items: center;
}

.checkoutContainer {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.checkoutContainer .left {
    flex: 2;
}

.checkoutContainer .right {
    flex: 1;
}


.addressSection {
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
}


.paymentMethod {
    background-color: white;
    padding: 20px;
}

.paymentForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.paymentForm form label {
    margin-top: 10px;
}

.paymentForm form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.paymentMethod button {
    margin-top: 20px;
    width: 100%;
    padding: 12px 0;
    background-color: #f0b800;
    color: black;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;

}

.orderSummary {
    padding: 20px;
    margin-bottom: 20px;
}

.orderSummary h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

.orderSummary table {
    width: 100%;
    border-collapse: collapse;
}

.orderSummary table td,
.orderSummary table th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
}

.orderSummary table tr:last-child th {
    border: none;
}

.checkout .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

@media (max-width:700px) {
    .checkoutContainer {
        flex-direction: column-reverse;
    }
}