.navbarList{
    background-color: #232f3e;
    color: white;
    display: flex;
    overflow: hidden;
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.navbarList p{
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}