.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    flex: 1;
    width: 100%;
    margin: 20px auto;
    gap: 5px;

}

.category-dropdown {
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 70px;
}

.search-bar-container {
    flex: 1;
    display: flex;
    z-index: 1000;
}

.search-button {
    height: 40px;
    width: 50px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:hover {
    background-color: #f90;
}