.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    flex: 1;
    width: 100%;
    margin: 20px auto;
    gap: 5px;
    box-sizing: border-box;
}

.category-dropdown {
    height:40px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 70px;
}

.search-bar-container {
    flex: 1;
    z-index: 1000;
    display: flex; /* Ensure items inside the container are aligned correctly */
}

.search-button {
    height:40px;
    width: 50px;
    background-color: #febd69;
    border: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex; /* Ensure it aligns properly with the height of the search bar */
    justify-content: center; /* Center the icon inside the button */
    align-items: center; /* Vertically center the content */
}

.search-button:hover {
    background-color: #f90;
}
