.singleItemCard {
    padding: 10px;
    background-color: white;
    /* aspect-ratio: 1; */
    margin: 0px 10px;
    flex: 1;
}

.singleItemCard h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}




.singleItemCard  .item {
    text-align: center;
    padding: 5px;
    width: 100%;
}

.singleItemCard .item img {
    width: 100%;
    margin-bottom: 10px;
}

.singleItemCard .item p {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    margin: 0;
}